*{
    padding: 0px;
    margin: 0px;
}

#wrapper{
}
ul,li{
    margin-left: 1%;
}
#header{
    padding: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid darkgray;
}
#header h1{
    text-align: center;
}
#username {
    text-align: center;
}
#header p{
    text-align: center;
}
#main-content{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid darkgray;
    padding: 20px;
}
#extra{
    width: 50%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border:1px solid darkgray;
}
.box-spacing{
    margin-top: 3%;
    margin-bottom: 3%;
}
.show-more{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}