*{
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
    color: #666666;
    font-family: 'Trebuchet MS';
}
body{
    background: #666666 url("/resources/background-grey.jpg");
}
ul,li{
    margin-left: 20px;
}
#wrapper{
    width: 60%;
    min-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
#header{
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#logo{
    font-family: 'Arial Black';
    color: black;
    font-size: 3em;
}
#logo span{
    text-decoration: overline underline;
    color: #FF9900;
}
#module-wrapper{
    float: right;
    border: 1px solid black;
    padding: 10px;
    width: 75%;
    box-shadow: 1px 1px 1px black;
}
#module-wrapper h3{
    padding-left: 20px;
}
#navigation{
    float: left;
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    padding: 10px;
    margin-right: 20px;
    width: 18%;
}
#navigation label{
    font-weight: bold;
}
#navigation select{
    margin-top: 10px;
    border: 1px solid black;
}
#main-content{
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
#main-content h3{
    padding-bottom: 20px;
}
.module{
    border: 1px solid black;
    width: 44%;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    box-shadow: 1px 1px 1px black;
    float: left;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    background-color: white;
}
.module:hover{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    cursor: hand;

}
#extra{
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
.box {
    margin-top: 3%;
    margin-bottom: 3%;
    border: 1px solid #333333;
    box-shadow: 1px 1px 1px black;
    /*172, 209, 233*/
    background-color: rgba(172,209,233,0.8);
}
.show-more{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.clear-float{
    clear: both;
}
.top-border{
    border-top: 1px dashed #333333;
    text-align: center;
    width: 100%;
    margin-top: 5px;
}